@model SolutionPersonnelleTemplate.Models.BO.Histoire

@{
    ViewData["Title"] = "Delete";
}

<h2>Suppression de l'histoire</h2>

<h3 class="alert-danger">Etes vous certain de vouloir supprimer cette histoire ?</h3>
<h3 class="alert-danger" style="text-align : center;">- Tous les messages, médias et parties de cette histoire seront perdus -</h3>
<div>
    <h4>Histoire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreDeFoisJouee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreDeFoisJouee)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="HistoireID" />
        <input type="submit" value="Suppression définitive" class="btn btn-danger" /> |
        <a asp-action="Index">Retour au codex</a>
    </form>
</div>
