@model SolutionPersonnelleTemplate.Models.BO.Histoire

@{
    ViewData["Title"] = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Histoire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreDeFoisJouee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreDeFoisJouee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-HistoireID="@Model.HistoireID">Mettre à jour</a> |
    <a asp-action="Index">Retour au codex</a>
</div>
