@model SolutionPersonnelleTemplate.Models.ViewModels.MessageViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Créer votre nouveau message</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message.Titre" class="control-label"></label>
                @if (ViewBag.error != null)
    {
            <p class="alert-danger">@ViewBag.error</p>
}
                <input asp-for="Message.Titre" class="form-control" />
                <span asp-validation-for="Message.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Contenu" class="control-label"></label>
                <textarea asp-for="Message.Contenu" cols="80" rows="10" class="form-control"></textarea>
                <span asp-validation-for="Message.Contenu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message.NumeroMessageEnfant1" class="control-label"></label>
                @if (ViewBag.errorNumeroAction1 != null)
    {
            <p class="alert-danger">@ViewBag.errorNumeroAction1</p>
}
                <select asp-for="Message.NumeroMessageEnfant1" class="form-control" asp-items="ViewBag.NumeroMessageEnfant1"></select>
            </div>

            <div class="form-group">
                <label asp-for="Message.NomAction1" class="control-label"></label>
                @if (ViewBag.errorNomAction1 != null)
    {
            <p class="alert-danger">@ViewBag.errorNomAction1</p>
}
                <input asp-for="Message.NomAction1" class="form-control" />
                <span asp-validation-for="Message.NomAction1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.NumeroMessageEnfant2" class="control-label"></label>
                @if (ViewBag.errorNumeroAction2 != null)
    {
            <p class="alert-danger">@ViewBag.errorNumeroAction2</p>
}
                <select asp-for="Message.NumeroMessageEnfant2" class="form-control" asp-items="ViewBag.NumeroMessageEnfant2"></select>
            </div>

            <div class="form-group">
                <label asp-for="Message.NomAction2" class="control-label"></label>
                @if (ViewBag.errorNomAction2 != null)
    {
            <p class="alert-danger">@ViewBag.errorNomAction2</p>
}
                <input asp-for="Message.NomAction2" class="form-control" />
                <span asp-validation-for="Message.NomAction2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.NumeroMessageEnfant3" class="control-label"></label>
                @if (ViewBag.errorNumeroAction3 != null)
    {
            <p class="alert-danger">@ViewBag.errorNumeroAction3</p>
}
                <select asp-for="Message.NumeroMessageEnfant3" class="form-control" asp-items="ViewBag.NumeroMessageEnfant3"></select>
            </div>

            <div class="form-group">
                <label asp-for="Message.NomAction3" class="control-label"></label>
                @if (ViewBag.errorNomAction3 != null)
    {
            <p class="alert-danger">@ViewBag.errorNomAction3</p>
}
                <input asp-for="Message.NomAction3" class="form-control" />
                <span asp-validation-for="Message.NomAction3" class="text-danger"></span>
            </div>

            @*Pour l image changer d'image avatar*@
            <div class="form-group">
                @if (@ViewBag.errorFichier != "")
        {
            <p class="alert-danger">@ViewBag.errorFichier</p>
}
                <label class="control-label">Ajouter une image de présentation</label><br />
                <input type="file" name="user_image" id="user_image" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Message.HistoireID" value="@ViewData["HistoireID"]" />
                <input type="submit" value="Valider" class="btn btn-success" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index"  asp-controller="Message" asp-route-histoireID="@ViewData["HistoireID"]">Retour au recueil </a>
</div>

