@model SolutionPersonnelleTemplate.Models.BO.Message

@{
    ViewData["Title"] = "Delete";
}

<h2>Suppression du message </h2>

<h3>Etes vous certain de bine vouloir supprimer définitivement ce message ?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Histoire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Histoire.HistoireID)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            <div class="form-group">
                @*Pour l image*@
                <label class="control-label">Image de garde</label><br />
                <input id="Message.UrlMedia" name="Message.UrlMedia" value="@ViewBag.ImgPath" type="hidden" />
                <img src="@ViewBag.ImgPath" class="img-responsive" /><br />
            </div>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MessageID" />
        <input type="hidden" asp-for="HistoireID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Message" asp-route-histoireID="@ViewData["HistoireID"]">Retour au recueil </a>
    </form>
</div>
