@model SolutionPersonnelleTemplate.Models.BO.Message

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenu" class="control-label"></label>
                <input asp-for="Contenu" class="form-control" />
                <span asp-validation-for="Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*Pour l image*@
                <label class="control-label">Image de garde</label><br />
                <input id="@Model.UrlMedia" name="@Model.UrlMedia" value="@ViewBag.ImgPath" type="hidden" />
                <img src="@ViewBag.ImgPath" class="img-responsive" /><br />
            </div>
            @*Pour l image changer d'image avatar*@
            <div class="form-group">
                @if (@ViewBag.errorFichier != "")
        {
            <p class="alert-danger">@ViewBag.errorFichier</p>
}
                <label class="control-label">Changer son Image de garde</label><br />
                <input type="file" name="user_image" id="user_image" />
            </div>


            <div class="form-group">
                <label asp-for="NumeroMessageEnfant1" class="control-label"></label>
                @{
            if (ViewBag.errorNumeroAction1 != "")
            {
                <p class="alert-danger">@ViewBag.errorNumeroAction1</p>
    }
                }
                <select asp-for="NumeroMessageEnfant1" class="form-control" asp-items="ViewBag.NumeroMessageEnfant1"></select>
                <span asp-validation-for="NumeroMessageEnfant1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomAction1" class="control-label"></label>
                @{
            if (ViewBag.errorNomAction1 != "")
            {
                <p class="alert-danger">@ViewBag.errorNomAction1</p>
    }
                }
                <input asp-for="NomAction1" class="form-control" />
                <span asp-validation-for="NomAction1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroMessageEnfant2" class="control-label"></label>
                @{
            if (ViewBag.errorNumeroAction2 != "")
            {
                <p class="alert-danger">@ViewBag.errorNumeroAction2</p>
    }
                }
                <select asp-for="NumeroMessageEnfant2" class="form-control" asp-items="ViewBag.NumeroMessageEnfant2"></select>
                <span asp-validation-for="NumeroMessageEnfant2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomAction2" class="control-label"></label>
                @{
            if (ViewBag.errorNomAction2 != "")
            {
                <p class="alert-danger">@ViewBag.errorNomAction2</p>
    }
                }
                <input asp-for="NomAction2" class="form-control" />
                <span asp-validation-for="NomAction2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroMessageEnfant3" class="control-label"></label>
                @{
            if (ViewBag.errorNumeroAction3 != "")
            {
                <p class="alert-danger">@ViewBag.errorNumeroAction3</p>
    }
                }
                <select asp-for="NumeroMessageEnfant3" class="form-control" asp-items="ViewBag.NumeroMessageEnfant3"></select>
                <span asp-validation-for="NumeroMessageEnfant3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomAction3" class="control-label"></label>
                @{
            if (ViewBag.errorNomAction3 != "")
            {
                <p class="alert-danger">@ViewBag.errorNomAction3</p>
    }
                }
                <input asp-for="NomAction3" class="form-control" />
                <span asp-validation-for="NomAction3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="HistoireID" type="hidden" />
                <input asp-for="MessageID" class="form-control" type="hidden" />
                <input type="submit" value="Mettre à jour" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Message" asp-route-histoireID="@ViewData["HistoireID"]">Retour au recueil </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
