@model IEnumerable<SolutionPersonnelleTemplate.Models.BO.Utilisateur>
@{
    ViewData["Title"] = "Zone-Admin";
}

<div class="jumbotron" style="background-color: #de5454;">
    <h2 style="text-align :center">Cette zone est strictement réservée aux administrateurs.</h2>
    <h4 style="text-align :center">Les actions dans cette section peuvent avoir des effets importants sur la sécurité et les informations présentes sur le site.</h4>
    <h4 style="text-align :center; color:whitesmoke;">Prenez garde à vos actions.</h4>
    <div class="col-lg-4">
        <a asp-action="PeuplerBddHistoires" class="btn btn-default">Peupler la base avec les 6 histoires</a>
    </div>
    <div class="col-lg-4">
        <a asp-action="PeuplerBddMessages" asp-controller="Message" class="btn btn-default">Peupler la base avec les messages histoires</a>
    </div>
    </div>

    <a asp-action="Create" class="btn btn-success">Créer nouvel utilisateur</a>


    <div class="alert-info">
        <h3>
            @ViewBag.Message
        </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pseudo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreationUtilisateur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDeNaissance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfirmEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfilUtilisateurComplet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UrlAvatarImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pseudo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreationUtilisateur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDeNaissance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConfirmEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfilUtilisateurComplet)
                    </td>
                    <td>
                        <img src="@item.UrlAvatarImage" alt="@item.Pseudo+" class="img-responsive" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-userId="@item.ApplicationUserID" class="btn btn-block btn-warning">MAJ</a>
                        <a asp-action="Details" asp-route-userId="@item.ApplicationUserID" class="btn btn-block btn-info">Détails</a>
                        <a asp-action="Delete" asp-route-userId="@item.ApplicationUserID" class="btn btn-block btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
