@model IEnumerable<SolutionPersonnelleTemplate.Models.BO.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contenu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UrlMedia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MessageEnfant1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroMessageEnfant1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MessageEnfant2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroMessageEnfant2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MessageEnfant3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroMessageEnfant3)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Histoire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageEnfant1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMessageEnfant1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageEnfant2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMessageEnfant2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageEnfant3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMessageEnfant3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Histoire.Synopsis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
